			*{
				margin:auto;
				margin:0px;
				padding:0px;
				cursor:pointer;
			}
			header{
				border:1px solid black;
				width:90%;
				height:100px;
			}
			h2:hover{
				font-size:50px;
			}
			div{
				width:100%;
				height:100px;
			}h3{
				margin:20px 350px 10px 50px;
				animation:bhava 5s 5s infinite;
			}@keyframes bhava{
				0%{
				color:red;
				font-size:20px;
				}
				50%{
				color:pink;
				}
				100%{
				color:green;
				}
			}
			header div img{
				padding:10px 200px 30px 500px;
				width:20%;
				height:30px;
			}header div p{
				text-align:right;
				padding-bottom:90px;
			}
			nav{
				width:90%;
				height:50px;
				margin-top:20px
			}nav ol{
				width:100%;
				height:50px;
			}nav ol li:hover{
				color:white;
				font-size:30px;
			}
			nav ol li{
				display:inline;
				padding:10px 30px 10px 30px;
				margin-left:50px;
				background-color:pink;
			}
			#one{
				width:90%;
				height:500px;
				border:1px solid black;
			}#one img{
				width:100%;
				height:500px;
			}#one img:hover{
				width:110%;
				height:530px;
			}
			
			
			#icon{
				width:90%;
				height:220px;
				display:flex;
			}
			#icon article{
				width:100%;
				height:220px;
				border:1px solid black;
				margin:0px 0px 20px 0px ;
			}#icon article img{
				padding:20px 40px 50px 150px ;
			}#icon h4{
				text-align:center;
				
			}#icon p{
				text-align:justify;
				margin-bottom:10px;
				
			}@keyframes hi{
				0%{
					color:pink;
				}25%{
					color:red;
				}50%{
					color:blue;
				}75%{
					color:yellow;
				}100%{
					color:gray;
				}
			}
			h2{
				text-align:center;
				text-Weight:bold;
				font-size:40px;
				animation:hi 5s 3s infinite;
			}p{
				text-align:center;
				margin:0px;
			}form {
				text-align:cente;
				margin:10px 30px 40px 450px;
				font-size:50px;
			}#b{
				width:90%;
				Height:200px;
				background:#F6214B;
				color:white;
				
			}#b form{
				background-color:#F6214B;
				color:white;
			}
			#p{
				width:90%;
				height:400px;
			}#p #two{
				width:100%;
				height:150px;
				display:flex;
				margin:10px 100px 30px 60px ;
			}#p img{
				margin-right:10px;
				margin-left:50px;
			}#p img p{
				padding:100px 50px 0px 0px;
			}#p p{
				width:85%;
				background:black;
				color:white;
				margin-left:55px;
				margin-bottom:20px;
			}#p img:hover{
				padding:20px;
			}
			
			pre{
				text-align:center;
				text-Weight:bold;
				font-size:20px;
				margin-bottom:20px;
			}#p div{
				display:flex;
				width:100%;
				height:150px;
				margin:10px 100px 30px 60px ;
			}#p div img{
				margin:100px 10px 0px 0px ;
				margin-left:50px;
			}span{
				
				color:red;
			}#f{
				width:90%;
				height:380px;
				display:flex;
			}#f img:hover{
				padding:40px;
			}
			
			.m{
				padding:10px 0px 0px 10px;
				font-size:35px;
				text-align:justify;
				background-color:black;
				color:white;s
			}#t{
				width:90%;
				height:300px;
				display:flex;
				padding-left:80px;
				
				
			}#t aside{
				width:100%;
				height:300px;
			}#t span{
				font-size:20px;
				color:blue;
			}#t p{
				margin:0px 100px 10px 0px;
			}#t img:hover{
				padding:40px;
			}
			footer{
				width:90%;
				height:190px;
				margin-top:80px;
			}footer ul{
				width:100%;
				height:150px;
				display:flex;
			}
			footer ul li{
				display:inline;
				margin-left:200px
				
			}ul li p{
				text-align:left;
			}ul form{
				margin-left:50px;
			}input[type="text"]:hover{
				color:white;
				background:pink;
				font-size:35px;
			}p:hover{
				font-size:20px;
			}footer p{
				background:black;
				color:white;
			}
